{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
  <div class="container">
    <div class="row row-cols-1 vh-100 d-flex justify-content-center align-items-center">
      <div class="col">
        <h1 class="text-center">
          Player
        </h1>
       {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-grid gap-0 mt-6">
          <button type="submit" id="button" class="btn btn-outline-success btn-add link-dark">Save</button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
