<div class="container">
    <div class="row mb-3">
        <h1>
            Create Your Team
        </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-success btn-add link-dark">Add</button>
        {{ form_end(form) }}
    </div>
</div>
