{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="bg-image">
		{% if teams is not empty %}
			<div class="image-container">
				{% for team in teams %}
					{% if team.imageName %}
						<a href="{{ path('team_show', {'id': team.id}) }}">
							<img src="{{ asset('images/' ~ team.imageName) }}" alt="{{ team.name }}" class="logo">
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			<p>Ajoutez une équipe.</p>
		{% endif %}
	</div>
{% endblock %}
