<nav class="navbar bg-custom navbar-expand-lg fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="#">11</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="d-flex align-items-center">
			<a class="nav-link text-white active" href="{{ path('home') }}">Lineup 11</a>
		</div>
		<div class="navbar justify-content-end">
			<ul class="navbar-nav">
				<a class="nav-link text-white active" aria-current="page" href="#">Players</a>
				<a class="nav-link text-white active" aria-current="page" href="{{ path('team_index') }}">Teams</a>
			</ul>
		</div>
	</div>
</nav>
